@font-face {
	font-family: "Calamity";
	src: url('fonts/Calamity-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: "Calamity";
	src: url('fonts/Calamity-Bold.otf');
	font-weight: bold;
}
html{
	height: 100%;
	width: 100%;
}
body{
	background-color: #120812;
	color: #FFFFFF;
	font-family: Calamity, Sans-serif;
	text-align: center;
	user-select: none;
}
a{
	color: #CC44FF;
}
header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
#nav{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
}
#nav div{
	/*padding: 0px 5px 0px 5px;*/
	margin: auto;
}
footer{
	width: 64px;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
}
input{
	font-family: calamity;
	background-color: #121212
	color: #ffffff;
}
#bg{
	float: left;
	position: fixed;
	top: 50%;
}
#bg img{
	max-width: 100%;
}
#desc{
	visibility: hidden;
	white-space: nowrap
}
footer:hover #desc{
	visibility: visible;
}
@media screen and (min-width: 720px) {
	
}
@media screen and (max-width: 300px){ 
	
}
